* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1024px;
    max-width: 96%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $primaryRed;
}

h1, h2, h3, h4, h5, h6 {
    color: $darkGrey;
    margin-top: 1.5rem;
}

p {
    margin: .75rem 0;
    font-weight: 300;

    code {
        margin: 0 .1rem;
    }
}

main {
    .container {
        padding: .75rem 0;

        &.doc {
            display: grid;
            grid-template-columns: 5fr 2fr;
            grid-gap: 1rem;
        }
    }
}

pre, code {
    font-size: .8rem;
    font-family: dico-code-two, mono, monospace;
}

code {
    background-color: #f0f0f0;
    padding: .1rem .2rem;
}

blockquote {
    margin: .75rem 0;
    border-left: 4px solid $primaryRed;
    padding: .75rem 1rem .75rem 2rem;
    background-color: #dcdde1;

    h1, h2, h3 {
        margin-top: 0;
    }
    ul {
        margin-top: .25rem;
        margin-left: 1.75rem;
    }
    p {
        font-style: italic;
    }
}

table {
    border-collapse: collapse;
    margin-top: .5rem;

    th, td {
        padding: .25rem;
    }
    thead {
        background-color: $primaryRed;

        tr {
            th {
                &:nth-of-type(1) {
                    border-right: 1px solid #fff;
                }
                &:nth-of-type(2) {
                    border-left: 1px solid #fff;
                }
            }
        }
    }
    tbody {
        tr {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;

            td {
                font-size: .9rem;

                &:nth-of-type(1) {
                    border-right: 1px solid #fff;
                }
                &:nth-of-type(2) {
                    border-left: 1px solid #fff;
                }
            }
            &:nth-of-type(odd) {
                background-color: #ebebeb;
            }
            &:nth-of-type(even) {
                background-color: #ccc;
            }
        }
    }
}
#page {
    ul {
        margin: .5rem 0 .5rem 1.75rem;
    }
}
