footer {
    margin-top: 1.5rem;

    .container {
        background-color: $darkGrey;
        padding-top: 1.75rem;
    }
    div#credits {
        font-weight: 300;
        font-size: .85rem;
        text-align: center;
        color: #fff;

        p {
            margin: 0;
        }
    }
}
