footer {
    .container {
        background-color: $darkGrey;
    }

    div#credits {
        font-weight: 300;
        font-size: .85rem;
        text-align: center;
        color: #fff;

        p {
            margin: 0;
        }
    }
}
